.step-container {
  padding: 20px;

  .step-main-container {
    height: 100%;
    overflow: auto;
    box-shadow: 0px 2px 10px 0px rgba(230, 230, 230, 1);
    border-radius: 2px;
    background: #fff;
    padding: 12px 0px 0px;
    display: flex;
    flex-direction: column;
    .stop-btn {
      background: #ffffff;
      border: 1px solid #cf131c;
      border-radius: 4px;

      &:hover {
        color: #cf131c;
      }
    }

    .steps-comp-container {
      padding: 0 181px 16px 181px;
      .ant-steps-item-title {
        font-size: 14px;
      }
      .ant-steps-item-icon {
        width: 30px;
        height: 30px;
        .ant-steps-icon {
          top: -2px;
        }
      }
    }

    .btn-container {
      text-align: center;
      padding: 18px 0;
      background-color: #fafafa;
      .dt-em-btn {
        width: 106px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .step-content-container {
    padding: 20px;
    background-color: #fafafa;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    flex: 1;

    .header-box {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 12px;

      .ant-btn > .anticon + span,
      .ant-btn > span + .anticon {
        margin-left: 0;
      }

      button {
        width: 100px;
        height: 26px;
        padding: 0;

        .anticon {
          margin-right: 3px;
        }
      }

      p {
        margin-left: 6px;
      }
    }

    .ant-table {
      .ant-table-thead > tr > th{
        padding: 10px 20px;
        height: 40px;
      }
      .ant-table-thead > tr > th:nth-child(2){
        padding: 10px 56px;
      }
      .ant-table-tbody > tr > td {
        padding: 0 20px;
        line-height: 44px;
        height: 44px;
      }
    }
  }

  .step-one-container {
    .ant-table-row-expand-icon-cell,
    .ant-table-expand-icon-th {
      display: none;
    }
    .ant-table-expanded-row {
      background: #fbfbfb;
      td:first-child {
        display: none;
      }
    }
    .item-dot {
      width: 6px;
      height: 6px;
      background-color: #2e3943;
      display: inline-block;
      border-radius: 6px;
      margin-right: 10px;
    }
    .radio-main {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
    }
    .radio-tips {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }
  }

  .step-two-container {
    padding: 20px;
  }

  .step-three-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px;

    .title {
      font-size: 12px;
      color: #666666;
    }

    .edit-config-container {
      border: 1px solid #dddddd;
      border-radius: 2px;
      flex: 1;
      display: flex;
      margin-top: 12px;
      background-color: #fff;

      .step-three-side-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        .pl-20 {
          padding-left: 20px;
        }
        .ant-menu-inline {
          border-right: 0;
        }
        .ant-menu-inline .ant-menu-selected:after,
        .ant-menu-inline .ant-menu-item-selected:after {
          content: none;
        }

        .search-box {
          input {
            font-size: 12px;
          }

          .ant-select-selection {
            height: 28px;
            .ant-select-selection__rendered {
              height: 28px;
            }
            .ant-select-selection-selected-value {
              height: 28px;
              line-height: 25px;
            }
          }
        }

        .menu-box {
          flex: 1;
        }
      }

      .step-three-main-container {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;

        .no-select-text {
          font-size: 18px;
          font-weight: bold;
          color: #dddddd;
          text-align: center;
          margin-top: 50px;
        }

        .header {
          padding: 0 20px 0 20px;
          display: flex;
          align-items: center;

          .title {
            font-size: 16px;
            color: #333333;
          }

          .version-tag {
            padding: 0px 10px;
            margin-left: 10px;
            background-color: rgba(36, 145, 247, 0.1);
            border: 1px solid #3f87ff;
            color: #3f87ff;
          }

          .depend-tag {
            padding: 0px 8px;
            background-color: rgba(80, 227, 194, 0.1);
            border: 1px solid #50e3c2;
            color: #53e3c3;
          }

          .tag {
            margin-left: 6px;
            height: 24px;
            border-radius: 12px;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 22px;
            display: flex;
            align-items: center;
          }
        }

        .tabs-container {
          .ant-collapse-content > .ant-collapse-content-box {
            padding: 12px 20px;
          }
          .resource-container {
            padding: 2px 10px 18px;
            .ant-transfer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .ant-transfer-list-content-item > span {
                padding-left: 4px;
              }
            }
          }
        }
        .resource-config-btn-box_COMP,
        .param-config-btn-container {
          position: absolute;
          z-index: 9;
          top: -10px;
          right: 70px;
        }
      }
    }
  }
  .step-four-container {
    display: flex;
    .step-four-container-left {
      width: 176px;
      border-right: 1px solid #EBECF0;
      margin-right: 20px;
      .ant-steps{
        .ant-steps-item {
          height: 100px;
        }
      }
    }
    .step-four-container-right {
      flex: 1;
      .failed {
        & > p {
          position: relative;
          margin-bottom: 20px;
          font-size: 12px;
          font-weight: 600;
          color: #333333;
          line-height: 20px;
          padding-left: 12px;
          &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 4px;
            height: 12px;
            background: #3F87FF;
          }
        }
        & > div {
          font-size: 12px;
          text-align: left;
          border: 1px solid #dddddd;
          & > p:first-child {
            padding: 10px 20px;
            font-weight: 500;
            line-height: 20px;
            background: #fafafa;
          }
          & > p:last-child {
            padding: 12px 20px;
            line-height: 17px;
            background-color: white;
          }
        }
      }
    }
  }
}

.install-guide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #307dfd;
  position: relative;
  overflow: auto;

  .install-guide-bg {
    position: absolute;
    top: 0;
    & > img {
      display: block;
    }
    &.bg-st {
      background-color: #fff;
      left: 0;
    }
  }
  .install-guide-content {
    margin: 0 auto;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 14px;
    .title {
      font-size: 36px;
      font-weight: 600;
    }
    .desc {
      width: 506px;
      line-height: 24px;
      margin-bottom: 60px;
    }
    .ant-btn {
      padding: 9px 30px;
      height: unset;
      font-size: 14px;
    }
  }
}

.logtail-box {
  .ant-modal-body {
    padding-top: 11px;
  }

  input,
  .ant-select-selection--single {
    // height: 26px;
    font-size: 12px !important;
  }

  .ant-select-selection-selected-value {
    height: 26px;
    line-height: 26px;

    span {
      font-size: 12px;
    }
  }
}
.table-pagination_wraper {
  position: relative;
  padding-right: 44px;
  padding-bottom: 24px;
  min-height: 136px;
  .table-pagination_wraper_spin {
    position: absolute;
    left: 50%;
    bottom: -15px;
  }
}

.na-page-content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    width: 168px !important;
    background: #e8e8e8 !important;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
    color: #999 !important;
  }
  & > .ant-steps {
    margin: 0px auto 4px;
    width: 946px;
  }
  .step-triangle-box {
    margin: 0 auto;
    display: flex;
    .step-triangle-item {
      width: 16px;
      height: 8px;
      position: relative;
      z-index: 10;
      margin-left: 144px;
      &:nth-child(1) {
        margin-left: 8px;
      }
      // &:before {
      //   position: absolute;
      //   content: "";
      //   top: 0px;
      //   left: 0px;
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid #e8e8e8;
      // }
      // &:after {
      //   position: absolute;
      //   content: "";
      //   top: 1px;
      //   left: 0px;
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid #fafafa;
      // }
      &.not-active-step {
        &:before,
        &:after {
          border-color: transparent;
        }
      }
    }
  }
}

.step-set-modal {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.check-default-notification {
  .ant-notification-notice-with-icon .ant-notification-notice-message {
    font-weight: normal;
  }
}

.modal-icon-error {
  &.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
    color: #ff5f5c;
  }
}
